<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <style>
      *{
        margin: 0;
      }
      #app{
        -webkit-app-region: drag;
      }
      #launch{
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center
        ;position: fixed;
      }
      #launch img{
        width: 100%;
      }
    </style>
  </head>
  <body>
    <div id="app">
      <div id="launch">
        <img src=<%= require('../renderer-firmware/assets/images/launch.png') %> alt="">
      </div>
    </div>

    <% if (process.env.NODE_ENV === 'production') { %>
    <!-- <script type="text/javascript" src="./native.js"></script> -->
    <% } %>
  </body>
</html>
